body {
  margin : 0;
  padding: 0;
}


.view {
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
  background: url('images/background.jpg') bottom center no-repeat;
  background-size: cover;
}

.left-bank {
  margin-left: 4%;
  }

  .right-bank {
  margin-right: 4%;
    }

.couple {
  display: flex;
}

.person {
  max-width: 120px;
  min-width: 120px;
  min-height: 120px;
}

.person img {
  width: 100%;
}


.choices {
  background: #efefef;
  display: flex;
  justify-content: space-around;
}

.choice a {
    display: flex;
}
